[Desktop Entry]
Name=Virt-viewer
Comment=Virtual Machine viewer
Exec=virt-viewer -c qemu:///system
Terminal=false
Type=Application
Categories=System;
